<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="box">
        {{msg}}
        <div v-html="htmls"></div>
        <input type="" name="" value="" v-model="sex">
        <input type="" name="" value="" v-model="vmodel">
            
        </div>

    </div>

    <script>
        var dataInfor = {
            msg: 's什么都不懂',
            htmls: '<h1>v-html标签</h1>',
            sex: "nan",
            vmodel:"表单绑定:v-model,绑定表单中的值"
        }
        var vm = new Vue({
            el: "#box",
            data: dataInfor
        })
    </script>
</body>

</html>